<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Auction Payment</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  </head>

  <body>
    <section class="hero is-link is-fullheight">
      <div class="hero-body is-centered">
        <div class="container">
          <div class="columns is-centered is-vcentered">
            <div class="column is-6">
              <p class="title is-size-1">Just a book</p>
              <p class="subtitle is-size-4">
                You can now read this book just for ₹500
              </p>
              <button class="button is-link is-light is-medium" id="payment-button">
                Get the book
              </button>
            </div>

            <div class="column is-5">
              <figure class="image">
                <img
                  src="https://images.unsplash.com/photo-1589998059171-988d887df646?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1"
                  style="border-radius: 10px"
                  alt=""
                />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script>
      axios.post("/order").then((info) => {
        console.log(info);

        var options = {
          key: "rzp_test_7hVAw10ea11FVb", // Enter the Key ID generated from the Dashboard
          name: "Auction Portal",
          description: "Bid Transaction",
          image: "https://media.istockphoto.com/vectors/vector-auctioneer-hold-gavel-in-hand-buyers-competitive-raising-arm-vector-id1180529623?k=20&m=1180529623&s=612x612&w=0&h=GTnFP_sQrVipFjc8kxpaw56JfES8in-k1ktDtvJabCQ=",
          order_id: info.data.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
          callback_url: "/is-order-complete",
          theme: {
            color: "#3399cc",
          },
		  "handler": function(response) {
			  alert("Your payment Id is "+response.razorpay_payment_id);
			  alert("Your order Id is "+response.razorpay_order_id);
			  alert("Your payment signature is "+response.razorpay_signature);
		  }
        };
        var rzp1 = new Razorpay(options);
        document.getElementById("payment-button").onclick = function (e) {
          rzp1.open();
          e.preventDefault();
        };
      });
    </script>
  </body>
</html>
